<header id="header" class="row">   
  <div class="header-logo">
      <a href="/">MK-Bot-Api</a>
  </div>
  <nav id="header-nav-wrap">
      <ul class="header-main-nav">
          <li><a href="/">Inicio</a></li>
          <% if (user) { %>
            <li><a href="/dashboard">DashBoard</a></li>
            <li><a href="/price">Precios</a></li>
            <li><a href="/premium">Premium</a></li>
            <li><a href="/users/logout">Cerrar Session</a></li>
          <% } else { %>
            <li><a href="/users/login">Iniciar Session</a></li>
            <li><a href="/users/register">Registrar</a></li>
          <% } %> 
      </ul>
      <a href="/docs" class="button button-primary cta">Docs</a>
  </nav>
  <a class="header-menu-toggle" href="#"><span>Menu</span></a>    	
</header>
