<div class="row justify-content-md-center" style="margin-top: 70px">
    <div class="col-md-5">

        <form method="POST" action="/premium/custom">
            <div class="form-group">
                <label for="nameInput">Userame</label>
                <input name="username" type="text" class="form-control" id="nameInput" placeholder="Enter Username" required>
            </div>
            <div class="form-group">
                <label for="customKey">Custom Apikey</label>
                <input name="customKey" type="text" class="form-control" id="customKey" placeholder="Enter New Apikey" required>
            </div>
            <button type="submit" class="btn btn-dark">Custom Apikey</button>
        </form>
    </div>
</div>