<section id="pricing">
    <div class="row pricing-content">
        <center>
            <%- include('../layouts/msg')  %> 
            <%- include('../layouts/errors')  %> 
        </center>
    </div>
    <div class="row pricing-content">
        <center>
            <h2>RESET LIMIT APIKEY FORM</h2>
            <form method="POST" action="/premium/limit">
                <div class="form-group">
                    <input style="font-family:Arial, FontAwesome" name="username" type="text" class="form-control" placeholder="&#xf007;   Username" required>
                </div>
                <div class="form-group">
                    <input style="font-family:Arial, FontAwesome" name="token" type="text" class="form-control" id="token" placeholder="&#xf084;   Token" required>
                </div>
                <p>token, to make sure you are the owner</p>
                <button type="submit" class="button button-primary">Reset Limit Apikey</button>
            </form>
            <div>
                <p> </p>
                <p>Back to Dashboard</p>
                <a class="button button-primary" href="/premium">Back</a>
            </div>
        </center>      
    </div>
</section>