<section id="home" data-parallax="scroll" data-image-src="images/bgd.jpg">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>Hola Nuevo Usuario</h3>
                <h1>
                    Bienvenido a la Api de MK-Bot
                </h1>
                <div class="buttons" data-aos="fade-up">
                    <a href="/docs" class="button stroke">
                        <span><i class="fas fa-folder"></i></span>
                        Open Docs
                    </a>
                    <a href="https://github.com/MK-Mods-OFC" class="button stroke" target="__blank">
                        <span><i class="fab fa-github"></i></span>
                         GitHub
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 

    <ul class="home-social-list">
        <li>
            <a href="https://api.whatsapp.com/send/?phone=34698901397&text&app_absent=0" target="__blank"><i class="fab fa-whatsapp fa-lg"></i></a>
        </li>
        <li>
            <a href="https://github.com/MK-Mods-OFC" target="__blank"><i class="fab fa-github fa-lg"></i></a>
        </li>
        <li>
            <a href="https://instagram.com/mikey69yt/" target="__blank"><i class="fab fa-instagram fa-lg"></i></a>
        </li>
        <li>
            <a href="https://linktr.ee/MK.Mods.Bots/" target="__blank"><i class="fas fa-list fa-lg"></i></a>
        </li>
    </ul>
    <div class="home-scrolldown">
        <a href="#testimonials" class="scroll-icon smoothscroll">
            <span>Bajar</span>
            <i class="icon-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</section> 

<section id="testimonials">
    <div class="row">
        <div class="col-twelve">
            <h1 class="intro-header" data-aos="fade-up">Sobre mi</h1>
        </div>   		
    </div>   	
    <div class="row owl-wrap">
        <div id="testimonial-slider"  data-aos="fade-up">
            <div class="slides owl-carousel">
                <div>
                    <p>
                        Hola, soy Mikey, un chaval de 20 años el cual le gusta programar todo tipo de cosas, y entre ellas estan los bots de WhatsApp.<br>
                        Fue un proyecto que empecé hace ya mas de 9 años y hoy en dia sigo mejorandolo dia tras dia y por cada actualización me intento superar mas.<br>
                        Os puedo dar consejos y hasta os puedo ayudar con vuestros pequeños programas. Solo contactad conmigo via <a href="https://api.whatsapp.com/send/?phone=34698901397&text&app_absent=0" target="__blank">WhatsApp</a></p> 
                    <div class="testimonial-author">
                            <img src="images/hi.gif" alt="Author image">
                            <div class="author-info">
                                Mikey
                                <span>Owner, MK-Bot-Api</span>
                            </div>
                    </div>                 
                </div> 
            </div>
        </div>          
    </div>
</section>

<section id="download">
    <div class="row">
        <div class="col-full">
            <h1 class="intro-header"  data-aos="fade-up">Proyectos!</h1>
            <p class="lead" data-aos="fade-up">
                Si te gustaria tener un bot propio puedes tenerlo.<br>
                En mi canal de GitHub que te dejo a continuación te dejo el enlace directo a uno de mis ultimos bots.
            </p>
            <div class="primary" data-aos="fade-up">
                <a class="button button-default" href="https://github.com/MK-Mods-OFC/BelceBot-Final" target="__blank">
                    <span aria-hidden="true"><i class="fas fa-code"></i></span>
                 BelceBot</a>
            </div>
            <p class="lead" data-aos="fade-up">
                Tambien tengo una base de datos donde voy poniendo comandos y cosas barias para que lo podais usar.<br>
                Aqui les dejo un boton para ir directo a la base de datos
            </p>
            <div class="primary" data-aos="fade-up">
                <a class="button button-default" href="https://github.com/Mikey69YT-BotDeveloper/DataBase" target="__blank">
                    <span aria-hidden="true"><i class="fas fa-code"></i></span>
                 DataBase</a>
            </div>
        </div>
    </div>

</section>   
