<section id="pricing">
    <div class="row pricing-content">
        <center>
            <%- include('layouts/msg')  %> 
            <%- include('layouts/errors')  %> 
        </center>
    </div>
    <div class="row pricing-content">
        <center>
            <form method="POST" action="/users/login">
                <h2>INICIAR SESION</h2>
                <div>
                    <input style="font-family:Arial, FontAwesome" name="username" type="text" class="form-control"" placeholder="&#xf007;   Username" required>
                </div>
                <div>
                    <input style="font-family:Arial, FontAwesome" name="password" type="password" class="form-control" placeholder="&#xf13e;   Password" required>
                </div>
                <div>
                    <%- recaptcha %>
                </div>
                <p> </p>
                <button type="submit" class="button button-primary">Iniciar Sesion</button>
            </form>	
            <div>
                <p>No tienes cuenta? <b>Create una ahora</b>!</p>
                <a class="button button-primary" href="/users/register">Registrarse</a>
            </div>
        </center>      
    </div>
</section>