<section id="pricing">
    <div class="row pricing-content">

        <div class="pricing-intro">
            <h1 class="intro-header" data-aos="fade-up">Opciones de compra</h1>

            <h4>Hola, <%= username %>. Quieres tener acceso ilimitado a las apis de MK-Bot?</h4>
            <p data-aos="fade-up">
                Si quieres poder disfrutar sin limites las apis para tu bot de WhatsApp compra el Premium y te darà acceso a una api ilimitada y personalizada para tu bot.
            </p>
            <p data-aos="fade-up">Si necesitas cualquier consejo o quieres preguntar algo, no olvides contactar con mi creador.</p>
        </div>

        <div class="col-12 pricing-table">
            <div class="row">

                <div class="col-four plan-wrap">
                    <div class="plan-block" data-aos="fade-up"> 

                        <div class="plan-top-part">
                            <h3 class="plan-block-title">Gratis</h3>
                            <p class="plan-block-price">0<sup>€</sup></p>
                            <p class="plan-block-per">Por Siempre</p>
                        </div>

                        <div class="plan-bottom-part">
                            <ul class="plan-block-features">
                                <li><span>Api Limitada a 500 usos diarios</span></li>
                                <li><span>Acceso a MK-Bot_Free-User</span></li>	                  
                                <li><span>Acceso solo a apis standards</span></li>		                  
                            </ul>
                        </div>  
                 
                    </div>
                </div>

                <div class="col-four plan-wrap">
                    <div class="plan-block primary" data-aos="fade-up">

                        <div class="plan-top-part">
                            <h3 class="plan-block-title">Premium</h3>
                            <p class="plan-block-price">5<sup>€</sup></p>
                            <p class="plan-block-per">Al mes</p>
                        </div>

                        <div class="plan-bottom-part">
                            <ul class="plan-block-features">
                                <li><span>Acceso ilimitado a las apis</span></li>
                                <li><span>Api personalizada</span></li>	                  
                                <li><span>Acceso al bot MK-Bot_Premium</span></li>		                  
                                <li><span>Acceso a apis exclusibas</span></li>
                            </ul>

                            <a class="button button-primary large" href="https://api.whatsapp.com/send/?phone=34698901397&text&app_absent=0" target="__blank">Comprar Ahora</a>
                        </div>
                    </div>
                </div>
                <div class="col-four plan-wrap">
                    <div class="plan-block" data-aos="fade-up"> 

                        <div class="plan-top-part">
                            <h3 class="plan-block-title">Master</h3>
                            <p class="plan-block-price">150<sup>€</sup></p>
                            <p class="plan-block-per">Por Siempre</p>
                        </div>

                        <div class="plan-bottom-part">
                            <ul class="plan-block-features">
                                <li><span>Lo mismo que en premium</span></li>
                                <li><span>Codigo completo de las apis</span></li>	                  
                                <li><span>Codigo completo de los bots</span></li>		                  
                                <li><span>Soporte directo con el creador</span></li>		                  
                                <li><span>Numero dedicado exclusivo de MK-Bot_Premium</span></li>		                  
                                <li><span>Numero dedicado exclusivo de MK-Bot_Free-User</span></li>		                  
                            </ul>

                            <a class="button button-primary large" href="https://api.whatsapp.com/send/?phone=34698901397&text&app_absent=0" target="__blank">Comprar Ahora</a>
                        </div>  
                 
                    </div>
                </div>         
        </div>
</section>>